
    <title>Horiizon: Expand Your Mind</title>
<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Ek+Mukta|Orbitron" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--JAVASCRIPT -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
<!--FAVICON-->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
<!--STANDARD META TAGS-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--STYLESHEETS/NORMALIZE-->
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	
<script type="text/javascript">		
		$(document).ready(function(){
			
			$("#showNavBtn").click(function(){ 
				var fullScreen = false;
				
				if(fullScreen){//Show QuickLinks
					$('#article').css('width', '100px');
					$('#section').css('width', 'calc(100% - 100px)');
					$('#section').css('left', '100px');
					fullScreen = false;
				} else {//Hide QuickLinks
					$('#article').css('width', '0');
					$('#section').css('width', '100%');
					$('#section').css('left', '0');
					fullScreen = true;
				};

			});	
			
			$(".tableDiv").click(function(){
                $(this).find(".linkList").css('display','table');
			}); 
		});    
</script>