<div class="banner">
		<a href="index">
			<h1>Horiizon - Net Leverage  <span class="blinking-cursor">|</span></h1>
			<h2>Power User Central</h2>
			<h3>Montreal Based Canada</h3>
			<div id="flag"></div>
            
            <div id="hitCounter">
                <h1>Visits : <%= data.counter %></h1>
            </div>
            
		</a>
</div>

<!--<div id="showNavBtn"><i class="fa fa-bars" aria-hidden="true"></i></div>-->