<!DOCTYPE html>
<html>  
<head>
  <% include ./partials/head.ejs %>
    
</head>
<body> 
<div id="container"><!--MAIN CONTAINER CLASS-->
 <header >						<!--BANNER-->
	<% include ./partials/header %>
 </header> 
 <main><!--MAIN (SECTION/ARTICLE/ASIDE)-->
	<div class="tagLine"><!--GOOGLE SEARCH BAR-->
		<div id="search">	
			<form method="GET" autocomplete="on" action="http://www.google.com/search">
				<input type="text" name="q" placeholder="Google"/>
				<input type="submit" value="search"/>
			</form>
		</div>
 
		<div class="RSS">
			<p>Sites, Software and Services: 
			<span class="flashyText"> -- -Only Free, only the best</span></p>
		</div>
	</div>
	        
	<section id="section">  <!--Chat & Game-->
		
        <div id="chessDIv">
            <canvas id="canv" height="400" width="400"></canvas>
            
            <script type="text/javascript">
                var c = document.getElementById("canv");
                var ctx = canv.getContext("2d");

                for(i=0; i<8; i++) {
                    for(j=0; j<8; j++){
                        ctx.moveTo(0,50*j);
                        ctx.lineTo(400,50*j);
                        ctx.stroke();

                        ctx.moveTo(50*i,0);
                        ctx.lineTo(50*i,400);
                        ctx.stroke();
                        var left = 0;
                        for(var a=0;a<8;a++) {
                        for(var b=0; b<8;b+=2) {
                            startX = b * 50;
                            if(a%2==0) startX = (b+1) * 50;
                      ctx.fillRect(startX + left,(a*50) ,50,50);
                    }};
                }};

                
            </script>
                

            <table id="board">
           <tr>
               <th class="white">21</th>
               <th class="black">22</th>
               <th class="white">23</th>
               <th class="black">24</th>
               <th class="white">25</th>
               <th class="black">26</th>
               <th class="white">27</th>
               <th class="black">28</th>
           </tr>
           <tr>
               <th class="black">31</th>
               <th class="white">32</th>
               <th class="black">33</th>
               <th class="white">34</th>
               <th class="black">35</th>
               <th class="white">36</th>
               <th class="black">37</th>
               <th class="white">38</th>
           </tr>
           <tr>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
           </tr>
           <tr>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
           </tr>
           <tr>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
           </tr>
           <tr>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
               <th class="black"></th>
               <th class="white"></th>
           </tr>
           <tr>
               <th class="white">81</th>
               <th class="black">82</th>
               <th class="white">83</th>
               <th class="black">84</th>
               <th class="white">85</th>
               <th class="black">86</th>
               <th class="white">87</th>
               <th class="black">88</th>
           </tr>
           <tr>
               <th class="black">91</th>
               <th class="white">92</th>
               <th class="black">93</th>
               <th class="white">94</th>
               <th class="black">95</th>
               <th class="white">96</th>
               <th class="black">97</th>
               <th class="white">98</th>
           </tr>
       </table>
        </div>
        
        <div id="testDiv">        
            <button class="testButton" type="button" onclick="alert('test')">Test</button>
            <button class="testButton" type="button" onclick="alert('reset')">Reset</button>
            <button class="testButton" type="button" onclick="alert('Data!')">Info</button>
            
            <div id="display">
                <p>Display</p>
            </div>
        </div>
        
	</section>  
 </main>
 </div><!--========END OF CONTAINER WRAPPER==-->
<script src="/socket.io/socket.io.js"></script>
<script src="/client/client.js"></script>
</body>
</html>