<!DOCTYPE html>
<html lang="en">   
<head>
    <title>Horiizon: Expand Your Mind</title>
<!--STANDARD META TAGS-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--STYLESHEETS-->
    <link rel="stylesheet" href="../public_html/stylesheets/bootStyle.css">
<!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--ANGULAR-JS-->   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Ek+Mukta|Orbitron" rel="stylesheet">
<!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" id="bg-container">
    
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="row" id="banner">           
        <div class="col-xs-9">
            <h1>Horiizon - Net Leverage <span class="blinking-cursor">|</span></h1>
        </div>   
    </div>
    
    <div class="row" id="search">           
        <div class="col-xs-9">
            <form method="GET" autocomplete="on" action="http://www.google.com/search">
				<input type="text" name="q" placeholder="Google"/>
				<input type="submit" value="search"/>
			</form>
        </div>
        <div class="col-xs-3">
            <h2>Power User Central</h2>
        </div> 
    </div>
    
    <div class="row" style="min-height:500px;">
        <div class="col-xs-8" id="content" style="min-height:500px">
        </div>
        <div class="col-xs-4" id="chat-room" style="min-height:500px">
            
          <!--<% include ./partials/links %>-->
          <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr class="info">
                <th>Link</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>www.website.com</td>
                <td>Do Foo with only a little Bar!</td>
              </tr>
            </tbody>
          </table>
          </div>       
        </div>
    </div>
    

    
</div>
    
<footer class="footer" id="footer">  <!--FOOTER-->
    <div class="container">
		<div class="row">
            <div class="col-xs-12">
                <a href="about.html">Portfolio Page - Contact and CV Here</a>
            </div>
            <div class="col-xs-6">Clock</div>
            <div class="col-xs-6">Date</div>
        </div>
        
	</div>
 
	<div id="footerClock">
		
	</div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/client/client.js"></script> 
</body>
</html>


