<!DOCTYPE html>
<html>
    
<head>
  <% include ./partials/head.ejs %>
</head>

<body> 
<div id="container"><!--MAIN CONTAINER CLASS-->
 
 <header >						<!--BANNER-->
	<% include ./partials/header %>
 </header>
    
 <main><!--MAIN (SECTION/ARTICLE/ASIDE)-->
	
	<div class="tagLine"><!--GOOGLE SEARCH BAR-->
		<div id="search">	
			<form method="GET" autocomplete="on" action="http://www.google.com/search">
				<input type="text" name="q" placeholder="Google"/>
				<input type="submit" value="search"/>
			</form>
		</div>
 
		<div class="RSS">
			<p>Sites, Software and Services: 
			<span class="flashyText"> -- -Only Free, only the best</span></p>
		</div>
	</div>
	
	<article id="article">		<!--ARTICLE -->
	</article>
     
	<section id="section">  <!--Chat & Game-->
			
        <div class="chatDiv">
            <div class="chat-main">
                <h2>Live Chat on Horiizon</h2>
                <ul id="chat">

                </ul>
                <div id="chat-send"> 
                    <form id="chat-form">
                        <input id="chat-input"/>
                        <button id="send">Send</button>
                    </form>
                </div>
            </div>
            
        </div>
		
	</section>
     
	<aside>			
        
        <% include ./partials/links %>
        
	</aside>
     
    <footer>  <!--FOOTER-->
	
	<div id="footerPortfolio">
		<a href="about.html">Portfolio Page - Contact and CV Here</a>
	</div>
 
	<!--Facebook Share button-->
	<div id="footerClock">
		<div id="leftClock">
			<time><p id="clock"></p></time>
		</div>
		<div id="rightDate">
			<time><p id="date"></p></time>
		</div>
		
		
	</div>
			
 </footer>
 </main>
 </div><!--========END OF CONTAINER WRAPPER==-->
<script type="text/javascript">
//DISPLAY TIME
    function displayTime(){
		 var date = new Date();
		 var hours = date.getHours();
		 var min = date.getMinutes();
		 var sec = date.getSeconds();
		 
		 if(sec < 10){//Add Zeroes if needed
			sec = '0' + sec;
		 }
		 if(min < 10){//Add Zeroes if needed
			min = '0' + min;
		 }
		 if(hours < 10){//Add Zeroes if needed
			hours = '0' + hours;
		 }
		 var time = hours + ":" + min + ":" + sec;
		 document.getElementById("clock").innerHTML = time;
		 setTimeout(displayTime, 1000);
	}
	displayTime();
	
//DATE  
	function displayDate(){// DATE FUNCTION
		 var date = new Date();
		 var year = date.getFullYear();
		 var month = date.getMonth() + 1;
		 var day = date.getDate();
		 
		 if(day < 10){//Add Zeroes if needed
			day = '0' + day;
		 }
		 if(month < 10){//Add Zeroes if needed
			month = '0' + month;
		 }
		 
		 var date = day + "/" + month + "/" + year;
		 document.getElementById("date").innerHTML = date;
			}
			displayDate();
</script>     
<script src="/socket.io/socket.io.js"></script>
<script src="/client/client.js"></script>
    

</body>
</html>